/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family:'Inter-Variable';
    --accent-font-family:'Press Start 2P';
    --main-font-weight:400;
    --bold-font-weight:700;
    --contour-color:black;
    --animation-fill-color:red;
}